<header>
    <div class="container">
        <a href="/" class="logo" >Food Mine!
        </a>
        <nav>
            <ul>
                <li>
                    <a href="/login">Login</a>
                </li>
        <li class="menu-container">
            <a href="/dashboard">jhon</a>
            <div class="menu">
                <a href="/profile">Profile</a>
                <a href="/order">Orders</a>
                <a >Logout</a>
            </div>
        </li>
        <li>
            <a href="/cart-page">Cart
                <span *ngIf="cartQuantity">{{cartQuantity}}</span>
            </a>
        </li>
    </ul>
</nav>
    </div>
</header>